/java intermediate/pertemuan7-PostGet/nbproject/private/
/java intermediate/pertemuan7-PostGet/build/
/java intermediate/pertemuan6-MusicPlayer/nbproject/private/
/java intermediate/pertemuan8-chatApp/nbproject/private/
/java intermediate/pertemuan8-chatApp/build/
/java intermediate/test/nbproject/private/
/java intermediate/pertemuan7/nbproject/private/
/java intermediate/pertemuan7/build/
/java intermediate/pertemuan8/nbproject/private/
/java intermediate/pertemuan8/build/
/java intermediate/pert1-library/nbproject/private/
/java intermediate/pert1-library/build/
/java intermediate/latihanpert1/nbproject/private/
/java intermediate/latihanpert1/build/
/java intermediate/latihanpert2/nbproject/private/

/java intermediate/pertemuan7
/java intermediate/pertemuan8
/java intermediate/latihanpert2

/java intermediate/pertemuan1-libraryEbook/build/
/java intermediate/pertemuan1-libraryEbook/nbproject/private/
